.stepItem {
    display: inline-block;
    color: #767676;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
}
.stepNum {
    display: inline-block;
    color: #fff;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background-color: #d5d5d5;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}
.activeStepItem {
    font-weight: bold;
}
.activeStepNum {
    background-color: #4dac27;
}
