.userMenuContainer {
  font-size: var(--text-xs);
  background-color: #f4f4f4;
  height: 24px;
}

.userMenuContainer ul {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  position: relative;
  margin: 0;
  margin-right: 20px;
}

.userMenuWrapper {
  max-width: 1200px;
  margin-inline: auto;
}

.userMenuContainer li {
  position: relative;
}

.userMenuContainer a {
  color: var(--color-gray-800);
}

.userMenuContainer .userMenuList > li:not(:first-child) > a::before {
  z-index: 20;
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 12px;
  top: 50%;
  left: -5px;
  background-color: #eaeaea;
  transform: translateY(-50%);
}

.logo {
  color: red;
}
.headerContainer {
  max-width: var(--width-300);
  margin: 0 auto;
}

.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--width-300);
  margin: 0 auto;
  flex-wrap: nowrap;
}
.headerInner ul {
  display: flex;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoWrapper h1 {
  width: 160px;
}

/* Header의 검색창 부분
  분리 예정
*/

.headerInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-gray-500);
  border-radius: 100px;
  padding-left: 20px;
}

.headerInputSelect {
  height: 48px;
  width: 50px;
  border: 1px solid transparent;
  border-radius: calc(48px / 2);
}

.headerInputWrapper {
  position: relative;
}

.headerInput {
  position: relative;
  width: 560px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 280px;
  border: 1px solid transparent;
  padding-left: 20px;
}

.headerInputSelect:focus-visible {
  outline: none;
}

.headerInput:focus-visible {
  outline: none;
}
.headerInputContainer:has(.headerInputSelect:focus-visible) {
  border-color: var(--color-gray-900);
}
.headerInputContainer:has(.headerInput:focus-visible) {
  border-color: var(--color-gray-900);
}

.headerInputWrapper::before {
  z-index: 20;
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 12px;
  top: 50%;
  left: 4px;
  background-color: #eaeaea;
  transform: translateY(-50%);
}

/* Header의 검색창 부분 끝.
  분리 예정
*/

.menuItem {
  position: relative;
}

.subMenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.subMenu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.subMenu ul li {
  width: 75px;
}

/* hover 또는 focus-within 시 표시 */
.menuItem:hover .subMenu,
.menuItem:focus-within .subMenu {
  display: block;
}
