html {
  scroll-behavior: smooth;
}

.menuNav {
  width: 100%;
  border-bottom: 1px solid #000;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
  border: none;
  margin-inline: auto;
  max-width: 1200px;
}

.menuNav::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100vw;
  height: 1px;
  background-color: #000;
  transform: translateX(-50%);
}

.menuList {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  margin-right: 60px;
  padding: 20px 0;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-gray-800);
  position: relative;
  cursor: pointer;
}

.menuItem a {
  text-decoration: none;
  color: inherit;
}

/* 활성화된 탭 */
.active {
  color: #000;
  font-weight: 700;
}

/* 밑줄 효과 */
.active::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #000;
}
