.serviceContainer {
  margin-top: 60px;
  margin-bottom: 80px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #000;
}

.serviceGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.serviceBox {
  border: 1px solid var(--color-gray-400);
  border-radius: 1rem;
  /* padding: calc(0.25rem * 7); */
  transition: box-shadow 0.2s ease;
  background-color: #fff;
}

.serviceList {
  list-style: none;
  padding: 28px;
  margin: 0;
}

.serviceName {
  font-size: 16px;
  font-weight: 800;
  color: #000;
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.tag {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-blue-700);
  /* background-color: #f4f5f7; */
  border: 1px solid var(--color-blue-700);
  border-radius: 50px;
  padding: 2px 6px;
  margin-left: 8px;
}

.serviceDesc {
  font-size: 14px;
  color: var(--color-gray-800);
  line-height: 1.6;
}
