/* 전체 레이아웃 */
.storeMap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f6f4;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  color: #000;
  box-sizing: border-box;
  padding: 80px 0;
}

/* 제목 영역 */
.title {
  width: 1180px;
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 18px;
  margin: 0;
  text-align: left;
}

/* 본문 레이아웃 — 지도 + 안내 리스트 나란히 */
.floorWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1180px;
  gap: 60px;
  margin-top: -2px;
}

/* 왼쪽 — 위치 안내 리스트 */
.sectionList {
  border-top: 1px solid #000;
  flex: 0 0 400px;
  width: 490px;
}

.sectionList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sectionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 490px;
  height: 70px;
  border-bottom: 1px solid var(--color-gray-300);
  font-size: 16px;
  line-height: 1.6;
}

.sectionName {
  font-weight: 700;
  width: 100px;
}

.categories {
  color: #333;
  flex: 1;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 15px;
}

/* 오른쪽 — 지도 + 버튼 */
.mapContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-left: 30px;
}

/* 지도 위쪽 버튼 탭 */
.floorTabs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 660px;
  margin: 0 auto 15px auto;
  border: 1px solid var(--color-gray-400);
  border-radius: 10px;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
}

/* 각 버튼 */
.floorButton {
  flex: 1;
  height: 55px;
  background: #fff;
  color: var(--color-gray-700);
  border: none;
  border-radius: 0;
  border-right: 1px solid var(--color-gray-400);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  padding: 13px 0px;
  transition: all 0.2s ease;
}

.floorButton:last-child {
  border-right: none;
}

/* 활성화된 버튼 */
.active {
  background-color: #8b5e3c;
  color: #fff;
  font-weight: 700;
}

/* 지도 이미지 */
.mapImage {
  width: 100%;
  max-width: 660px;
  height: auto;
  object-fit: contain;
  display: block;
  margin-top: -2px;
  border: none;
  box-shadow: none;
  background: none;
  border-radius: 15px;
}
