/* 회색 라인(full width)을 담당하는 영역 */
.tabOuter {
  /* width: 100vw; */
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;

  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

/* 1200px 컨텐츠 영역 */
.tabInner {
  max-width: 1200px;
  margin: 0 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
}

/* 버튼은 그대로 */
.tab {
  background: none;
  border: none;
  padding: 16px 0;
  font-size: 15px;
  color: #666;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  transition: color 0.2s;
  white-space: nowrap;
  text-align: left;
}

.tab.active {
  color: #000;
  font-weight: 600;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 3px;
  background-color: #8b6f47;
}
