.headerInputContainer {
  border: 1px solid var(--color-gray-500);
  border-radius: 100px;
  padding-left: 20px;
}

.headerInputContainer form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerInputSelect {
  height: 48px;
  width: 100px;
  border: 1px solid transparent;
  border-radius: calc(48px / 2);
}

.headerInputWrapper {
  position: relative;
}

.headerInput {
  position: relative;
  width: 480px;
  height: 48px;
  box-sizing: border-box;
  border-radius: 280px;
  border: 1px solid transparent;
  padding-left: 20px;
}

.headerInputSelect:focus-visible {
  outline: none;
}

.headerInput:focus-visible {
  outline: none;
}
.headerInputContainer:has(.headerInputSelect:focus-visible) {
  border-color: var(--color-gray-900);
}
.headerInputContainer:has(.headerInput:focus-visible) {
  border-color: var(--color-gray-900);
}

.headerInputWrapper::before {
  z-index: 20;
  content: "";
  position: absolute;
  display: block;
  width: 1px;
  height: 12px;
  top: 50%;
  left: 4px;
  background-color: #eaeaea;
  transform: translateY(-50%);
}

.submitBtn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}
