.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 6px;
  /* margin: 30px 0; */
}

/* 숫자 버튼 기본 스타일 */
.pageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: #555;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  transition: background-color 0.2s ease;
}

.activePage {
  background-color: #767676;
  color: #fff;
  font-weight: 600;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.navBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 1;
}

.navBtn svg {
  width: 12px;
  height: 12px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

/* 첫 페이지 또는 마지막 페이지의 비활성 버튼 완전 숨김 */
.pagination li.disabled a.navBtn {
  display: none;
}
