/* ================================
  커스텀 체크박스 스타일
================================*/
/* 기본 체크박스 숨김 */
.checkboxInput {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 22px;
  height: 22px;
  cursor: pointer;
  display: none;
}

/* 커스텀 체크박스 박스 */
.checkboxCustom {
  width: 22px;
  height: 22px;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;

  border: 1px solid #d5d5d5;
  border-radius: 4px;

  /* background-color: #f5f5f5; */
  background-image: url("/images/search/ico_checkbox_gray.png");
  background-repeat: no-repeat;
  background-position: center 8px;
  background-size: 10px 7px;

  transition: all 0.15s ease;
}

/* 체크된 상태 */
.checkboxInput:checked + .checkboxCustom {
  background-color: #5155ab; /* 남색 배경 */
  border-color: #f2f2f2;

  background-image: url("/images/search/ico_checkbox_white.png");
  background-size: 10px 7px;
}
