/* 전체 레이아웃 */
.container {
    width: 360px;
    margin: 80px auto;
    text-align: center;
    font-family: "Noto Sans KR", sans-serif;
}

/* 로고 */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; /* 원래 로고 높이에 맞춰 조절 */
  font-size: 30px; /* 원하는 글자 크기 */
  font-weight: bold;
}