.logo {
  color: red;
}
.headerContainer {
  width: 1200px;
  margin: 0 auto;
}

.headerInner {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(206, 206, 206, 0.603);
  flex-wrap: nowrap;
}
.headerInner ul {
  display: flex;
}

.headerInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerUserMenu {
}
