.contents {
    padding-top: 50px;
}
.contentsInner {
    width: 1200px;
    margin: 0 auto;
}
.cartTopWrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    
}
.titleWrap {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01rem;
    flex-direction: column;
    align-items: flex-start;
}
.rightArea {
    position: absolute;
    right: 0;
    top: 10px;
}
.rightAreaWrap {
    align-items: center;
    flex-direction: row;
}
.stepRoundTextList {
    font-size: 0;
}
.stepItem {
    display: inline-block;
    color: #767676;
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;
}
.stepNum {
    display: inline-block;
    color: #fff;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background-color: #d5d5d5;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
}
.activeStepItem {
    font-weight: bold;
}
.activeStepNum {
    background-color: #4dac27;
}
ol, li {
    list-style: none;
}
.cartBody {
    position: relative;
    min-height: calc(100vh - 80px);
    z-index: 1;
}
.cartBodyInner {
    width: 890px;
}
.paymentBoxWrap {
    margin-top: 24px;
    border: solid 1px #d5d5d5;
    border-radius: 12px;
}
.tblRowWrap {
    border: 0;
    display: block;
    width: 100%;
    padding: 18px 0;
}
.tblRow {
    width: 100%;
    table-layout: fixed;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    border: 0;
}
th {
    padding: 12px 10px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 700;
    padding-left: 30px;
    text-align: left;
    color: #000;
    vertical-align: top;
}
td {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    padding-right: 30px;
}
.addressInfoBox {
    flex: 1;
}
.addressName {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.addName {
    color: #2b1dd6;
    line-height: 20px;
}
.icoLocationPrimary {
    margin-right: 3px;
    display: inline-block;
    width: 10px;
    height: 20px;
    background-size: 10px 20px;
    background-image: url("/images/paymentPage/ico_location_primary@2x.png");
    vertical-align: top;
}
.text {
    font-size: 15px;
    line-height: 23px;
    letter-spacing: -0.01em;
    font-weight: 700;
}
.badgeSM {
    margin-bottom: 0;
    margin-left: 8px;
    border-radius: 10px;
    color: #474c98;
    border: 1px solid #474c98;
    background-color: #fff;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    
}
.textBadgeSM {
    margin: 5px;
    border-radius: 10px;
    color: #474c98;
    background-color: #fff;
    text-align: center;
    vertical-align: top;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.btnXs {
    margin-top: -2px;
    margin-left: 12px;
    flex-direction: row;
    height: 30px;
    padding: 0 9px 1px;
    border-radius: 4px;
}
.btnLineGray {
    color: #000;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: background-color 0.2s ease-out;
}
.btnLineGrayFull {
    display: flex; /* 내부 아이콘과 텍스트를 정렬 */
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.2s ease-out;
}
.btnLineGray:hover {
    background-color: #f2f2f2;
}
.btnLineGrayFull:hover {
    background-color: #f2f2f2;
}
.btnText {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    font-weight: 500;
}
.addressPerson {
  display: inline-flex; /* 수평 정렬 */
  align-items: center;  /* 수직 가운데 정렬 */
  gap: 3px; /* 요소 간 간격 */
}
.receiveName {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 700;
    color: #000;
    display: inline-block;
}
.gap {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: #000;
    margin-left: 3px;
}
.phoneNumber {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 500;
    color: #000;
    margin-left: 3px;
}
.btnInfoPopup {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-left: 4px;
  border: none;
  background: none;
  padding: 0;
}
.icoQuestion {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #d5d5d5;
  background: url("/images/paymentPage/btn_tooltop_question_sm@2x.png") no-repeat center / 16px 16px;
}
.address {
    margin-top: 8px;
}
.addressText {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    color: #595959;
}
tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}
th, td {
    word-break: break-all;
    word-wrap: break-word;
}
.btnWrap {
    display: block;
    font-size: 0;
    text-align: center;
    min-width: 86px;
    width: 100%;
	min-width: auto;
}
.icoMsgBlack {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../../../public/images/paymentPage/ico_msg_black_h18@2x.png") 0% 0% no-repeat;
    background-size: 18px 18px;
}
.textFwMedium {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    margin-left: 8px;
}