/**
* 1. 모달창 필요한 곳에 Swal import
* 2. 현재 css 파일 import
* 3. Swal.fire()사용
* 사용법 참고 : QnAForm.jsx, SearchSort.jsx
*/

.customPopup {
  width: 420px;
  max-height: 750px;
  border-radius: 16px;
  padding: 0 37px 30px;
}

.customTitle {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  margin-top: 22px;
  color: #000;
}

.customText {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-top: 6px;
  color: #595959;
}

.customConfirmButton {
  background-color: #5055b1;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 8px;
  justify-content: center;
  width: 140px;
  height: 44px;
}

.customConfirmButton:hover {
  background-color: #2d2f78;
}

.customCancelButton {
  background-color: #767676;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 8px;
  justify-content: center;
  width: 140px;
  height: 44px;
}

.customCancelButton:hover {
  background-color: #595959;
}

.likePopup {
  width: 240px;
  height: 48px;
  padding: 12px, 26px;
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  background-color: #292929e6;
  border: 1px solid #292929;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.16);
  color: #fff;
  gap: 8px;
  padding: 0 16px !important;
}

.likeTitle {
  display: inline-block !important;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 22px;
  justify-content: center;
  margin-left: 15px;
  padding: 0;
}

.likePopup .swal2-actions {
  margin: 0 !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center;
}

.likeConfirmButton {
  background: none !important;
  color: #cfcfcf;
  font-size: 13px;
  font-weight: 300;
  padding: 0;
  /* height: auto !important; */
  /* width: auto !important; */
  /* box-shadow: none !important; */
  text-decoration: underline;
  cursor: pointer;
}

.likeConfirmButton:hover {
  background-color: rgba(0, 0, 0, 0);
}
