.notFoundContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 30px;
}

.btnWrapper {
  display: flex;
  gap: 10px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
