.container {
  padding: 20px;
  width: 1200px;
  margin: 0 auto;  
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th,
.td {
  border: 1px solid #ddd;
  padding: 10px;
}

.row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.img {
  width: 100px;
}

.sortButton {
  all: unset;          /* 모든 기본 스타일 제거 */
  cursor: pointer;     /* 마우스 오버 시 포인터로 변경 */
  font-size: 0.8em;    /* 필요하면 크기 조정 */
  margin-left: 4px;    /* 텍스트와 버튼 간 간격 */
}
.bookSearchContainer {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  border-radius: 30px;
  padding: 8px 14px;
  margin: 40px auto;
  width: 500px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.bookSearchSelect {
  border: none;
  background: transparent;
  margin-right: 10px;
  font-size: 16px;
}

.bookSearchSelect:focus {
  outline: none;
}

.bookSearch {
  flex: 1;
  border: none;
  font-size: 16px;
}

.bookSearch:focus {
  outline: none;
}

.searchBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}