.container {
  padding: 20px;
  width: 1200px;
  margin: 0 auto;  
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.th,
.td {
  border: 1px solid #ddd;
  padding: 10px;
}

.row:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.img {
  width: 100px;
}

.sortButton {
  all: unset;          /* 모든 기본 스타일 제거 */
  cursor: pointer;     /* 마우스 오버 시 포인터로 변경 */
  font-size: 0.8em;    /* 필요하면 크기 조정 */
  margin-left: 4px;    /* 텍스트와 버튼 간 간격 */
}

.searchWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.allBookSearch {
  position: relative;
  display: flex;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  border-radius: 30px;
  padding: 8px 14px;
  width: 100px;
  margin-bottom: 15px;
  cursor: pointer;
}

.bookSearchContainer {
  position: relative;
  display: flex;
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  border-radius: 30px;
  padding: 8px 14px;
  width: 500px;
  margin-bottom: 15px;
  
}

.bookSearchSelect {
  border: none;
  background: transparent;
  margin-right: 10px;
  font-size: 16px;
}

.bookSearchSelect:focus {
  outline: none;
}

.bookSearch {
  flex: 1;
  border: none;
  font-size: 16px;
}

.bookSearch:focus {
  outline: none;
}

.searchBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
}

.paginationWrapper {
  text-align: center;
  padding: 20px;
}
.pageBtn {
  margin: 0 3px;
  border-radius: 4px;
  border: none;
  padding: 2px 8px;
  color: #333;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.pageBtn:hover {
  background-color: #4dac27;
}
.activePage {
  background-color: #444;
  color: white;
}
.arrowBtn {
  border: none;
  margin: 0 3px;
  border-radius: 4px;
  border: none;
  padding: 3px 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  
}
.arrowBtn:hover {
  
  background-color: #4dac27;
}