.AddressContainer {
  border: 1px solid var(--color-gray-400);
  border-radius: var(--radius-2xl);
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
}

.title {
  font-weight: var(--font-weight-bold);
  font-size: 1.5rem;
}

.title p {
  margin: 0px;
}
