.container {
  border-radius: var(--radius-2xl);
  border: 1px solid var(--color-gray-400);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 1.5rem;
}
