.sideBar {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
}
.userInfo {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}
.menuList {
  padding: 0;
  box-sizing: border-box;
}
