.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 0 120px 0;
  font-family: "Pretendard", sans-serif;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.defaultBox {
  border: none;
  border-radius: 16px;
  padding: 30px;
  background: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.defaultLeft {
  flex: 1;
}

.itemTitle {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.defaultTag {
  background: #fff;
  color: #484c93;
  border: 1px solid #484c93;
  padding: 2px 7px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 400;
}

.itemText {
  font-size: 13px;
  font-weight: 600;
  margin: 8px 0 0 0;
  color: #222;
}

.itemText2 {
  color: #595959;
  font-size: 13px;
  margin: 8px 0 0 0;
}

.defaultNotice {
  margin: 14px 0;
  font-size: 13px;
  color: #595959;
  line-height: 1.5;
}

.defaultNotice p {
  margin: 0 0 5px 0;
}

.editBtn {
  border: 1px solid #ccc;
  padding: 6px 14px;
  background: #fff;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 14px;
}

.listTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countText {
  font-size: 16px;
  font-weight: 600;
  color: #3c9a17;
}

.rightGroup {
  display: flex;
  align-items: center;
  gap: 16px;
}

.maxText {
  font-size: 13px;
  color: #767676;
  white-space: nowrap;
}

.maxText span {
  color: #474c98;
}

.addBtn {
  padding: 6px 14px;
  color: #474c98;
  font-size: 13px;
  border: 1px solid #474c98;
  background: #fff;
  border-radius: 6px;
  white-space: nowrap;
  height: 38px;
}

.addBtn img {
  width: 12px;
  height: 12px;
}

.divider {
  border: none;
  border-bottom: 1px solid #000;
}

.listContainer {
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.itemInfo {
  flex: 1;
  margin-left: 14px;
}

.itemBtns {
  display: flex;
  gap: 8px;
}

.deleteBtn {
  padding: 6px 14px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #ccc;
}

.submitBtn {
  margin: 32px auto;
  display: block;
  padding: 14px 36px;
  font-size: 16px;
  background-color: #5055b1;
  color: #fff;
  border-radius: 6px;
  border: none;
  height: 50px;
  font-weight: 700;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.submitBtn:hover {
  background-color: #2d3078;
}

.disabled {
  background: #a7a9d4;
  cursor: not-allowed;
}
