/* 전체 wrapper */
.inquiriesContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 0 120px 30px;
}

.inquiriesContainer h1 {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
}

/* 상단 헤더 영역 */
.topArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--color-gray-300);
}

/* 왼쪽 설명 문구 */
.noticeText {
  color: var(--color-gray-800);
  font-size: 14px;
  margin-bottom: 0;
}

/* 문의하기 버튼 */
.inquiryButton {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 6px 19px;
  border-radius: 8px;
  background: var(--color-blue-700);
  border: 1px solid var(--color-blue-700);
  cursor: pointer;
  transition: 0.15s ease;
  height: 44px;
  width: 135px;
}

.inquiryButton img {
  width: 14px;
  height: 14px;
}

.inquiryButton:hover {
  background-color: var(--color-blue-900);
}

/* nodata 영역 */
.noDataWrap {
  text-align: center;
  margin: 180px 0;
  color: var(--color-gray-800);
}

.noDataWrap img {
  width: 46px;
  margin-bottom: 12px;
}

.noDataWrap p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}
