.itemWrap {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

/* 헤더 영역 */
.header {
  display: grid;
  grid-template-columns: 160px 1fr auto;
  align-items: center;
  cursor: pointer;
}

.left {
  display: flex;
  gap: 8px;
  align-items: center;
}

/* 상태 (예: 준비중) */
.status {
  padding: 4px 8px;
  background-color: #ededf6;
  color: #565a9c;
  border-radius: 16px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* 카테고리 */
.category {
  color: #666;
  font-size: 14px;
}

/* 제목 + Q 아이콘 */
.titleArea {
  display: flex;
  align-items: center;
  gap: 8px;
}

.qIcon {
  display: inline-block;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: #474c98;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}

.title {
  font-size: 15px;
  color: #111;
  font-weight: 500;
}

/* 날짜 + 화살표 */
.right {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end;
}

.date {
  font-size: 13px;
  color: #999;
}

/* 열린 컨텐츠 박스 */
.contentBox {
  margin-top: 16px;
  padding: 16px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.content {
  white-space: pre-line;
  color: #444;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

.buttonArea {
  margin-top: 16px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.deleteBtn {
  border: none;
  background: none;
  font-size: 13px;
  cursor: pointer;
  color: #767676;
}

.deleteBtn:hover {
  background-color: #f0f0f0;
}
