.sideBar {
  width: 200px;
  padding: 10px;
}

.userInfo {
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--color-blue-700);
  width: 180px;
  height: 180px;
}

.menuList {
  padding: 10px;
  box-sizing: border-box;
  margin-top: 0;
}

.menuList h3 {
  font-weight: 700;
  border-bottom: 1px solid #000;
  padding-bottom: 10px;
}

.menuList li {
  padding: 5px;
}

.profileImage {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}

.profileImage img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}

.point {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}

.point a {
  color: #fff;
}

.point a:hover {
  text-decoration: underline;
}
