.mypageMain {
    position: relative;
}


.profileThumbBoxNoImg .thumb_box{
    background-size: cover;
    background-image: '../../images';
}

.blurImgBox {
    /* 부모 스타일 */
}

.blurImg {
    filter: blur(30px);
}