.containerWrapper {
  position: relative;
  padding-top: 20px;
  z-index: 102;
  display: block;
}
.breadCrumbBackImage {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 354px;
  background-size: cover;
  background-image: url("../../../public/images/mypage/bg_myroom_main@2x.png");
}
.breadCrumbWrap {
  position: relative;
  padding-top: 20px;
  z-index: 102;
}
.breadCrumbInner {
  width: 1200px;
  margin: 0 auto;
}
.breadCrumbList {
  font-size: 0;
}
ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadCrumbItem {
  position: relative;
  z-index: 10;
  display: inline-block;
  vertical-align: top;
}
.homeLink {
  display: block;
  width: 14px;
  height: 19px;
  background-repeat: no-repeat;
  background-size: 14px 13px;
  background-position: 0 2px;
  background-image: url('../../../public/images/Mypage/ico_breadcrumb_home_white@2x.png');
}
.noSub {
  position: absolute;
  top: 6px;
  left: 8px;
  display: block;
  width: 4px;
  height: 8px;
  background-size: 4px 8px;
  background-image: url('../../../public/images/mypage/ico_breadcrumb_divide@2x.png');
}
.btnSubDepth {
  position: relative;
  padding-bottom: 8px;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.01em;
  font-weight: 500;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  color: #fff;
  margin-left: 18px;
}
.contentsWrap {
  position: relative;
  padding-top: 62px;
  display: block;
}
.contentsInner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.asideWrap {
  width: 180px;
  padding-right: 36px;
  display: block;
}
.myProfileArea {
  margin-bottom: 74px;
  padding: 0;
  overflow: visible;
  background: none;
  position: relative;
  border-radius: 16px;
}
.profileThumbBoxNoImg {
  width: 70px;
  height: 70px;
  position: relative;
}
.btnSetting {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
.thumbBox {
  border: none;
  background-size: cover;
  background-image: url('../../../public/images/mypage/img_no_profile@2x.png');
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.thumbBoxSetting {
  position: absolute;
  bottom: 0;
  right: -12px;
  display: block;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: 28px 28px;
background-image: url('../../../public/images/mypage/btn_profile_setting@2x.png');
}
.profileNameBox {
  min-height: 56px;
  max-height: 82px;
  position: relative;
  margin-top: 10px;
  line-height: 26px;
}
.nameNowrap {
  font-size: 20px;
  white-space: nowrap;
  line-height: 24px;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: #fff;
  word-break: break-word;
  overflow-wrap: anywhere;
}
.badge {
  display: flex;
  margin-top: 7px;
  gap: 9px;
  white-space: nowrap;
  vertical-align: top;
  flex-wrap: wrap;
  align-items: start;
}
.badgeIg {
  padding: 0;
  background: none;
  border: none;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: -0.01em;
  font-weight: 500;
  color: #fff;
}
.badgeImage {
  background-image: url('../../../public/images/mypage/ico_grade_friends_sm.png');
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
  width: 20px;
  height: 23px;
  background-repeat: no-repeat;
  background-size: 20px 23px;
}
.badgeArrow {
  display: inline-block;
    vertical-align: top;
    margin: 7px 0 0 4px;
    width: 5px;
    height: 9px;
    background: url('../../../public/images/mypage/btn_more_view_white@2x.png') no-repeat 0 0 / 100%;
}
.profileInfoList {
  padding: 17px 20px 19px;
  margin-top: 12px;
  border-radius: 12px;
  border-radius: 12px;
  background-color: rgba(56, 59, 124, 0.2);
}
.infoItemWish {
  width: calc(50% - 16px);
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.infoLink {
  display: inline-block;
  vertical-align: top;
}
.title {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.01em;
  margin-top: 0;
  margin-bottom: 5px;
  display: block;
  color: #fff;
  opacity: 0.8;
}
.val {
  display: block;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: -0.01em;
  color: #fff;
}
.infoItemList {
  display: inline-block;
  vertical-align: top;
}
.infoItemListLine {
  display: inline-block;
  width: 1px;
  height: 24px;
  margin: 10px 15px 0;
  background-color: #fff;
  border-radius: 10px;
  opacity: 0.1;
  vertical-align: top;
}

.snbItem {
  display: block;
  position: relative;
  margin-top: 8px;
}
.snbLinkDepthTitle {
  font-size: 15px;
  line-height: 23px;
  letter-spacing: -0.01em;
  font-weight: 700;
  width: 180px;
  height: 23px;
}
.snbLink {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  width: 180px;
  height: 22px;
  margin-top: 8px;
}
.sectionWrap {
  width: calc(100% - 216px);
  display: block;
}
.switchToggleHeader {
  margin-bottom: 16px;
  font-size: 0;
  align-items: center;
  gap: 16px;
  margin-bottom: 245px;
}
.toggleHeaderContainer {
  display: flex;
  margin-bottom: 20px;
}
.switchToggleBox {
  display: inline-flex;
  height: 37px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  font-size: 0;
  vertical-align: top;
}
.btnSwitch {
  display: inline-block;
  height: 100%;
  padding: 0 16px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #fff;
  opacity: 0.6;
  background: none;
  vertical-align: top;
  cursor: pointer;
}
.btnSwitchActive {
  opacity: 1;
  background-color: #4dac27;
  display: inline-block;
  height: 100%;
  padding: 0 16px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #fff;
  vertical-align: top;
  cursor: pointer;
}
.recom {
  margin-left: -8px;
}
.switchToggleContentAlarm {
  display: block;
}
.AlarmContent {
  margin-top: -6px;
  padding: 0 0 101px 0;
}
.noDataDesc {
  color: #fff;
  display: block;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.01em;
  text-align: center;
}
.noData {
  display: block;
  width: 46px;
  height: 46px;
  margin: 0 auto 10px;
  background: url("../../../public/images/mypage/ico_nodata@2x.png");
  background-size: 46px 46px;
}
.btnWrap {
  margin-top: 20px;
  display: block;
  font-size: 0;
  text-align: center;
}
.btnSm {
  border-color: #f2f2f2;
  border-radius: 38px;
  color: #fff;
  border: 1px solid;
  flex-direction: row;
  height: 38px;
  background: none;
  cursor: pointer;
}
.categoryTagList {
  margin-left: 30px;
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}
.categoryItem {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}
.btnCategory {
  position: relative;
  font-size: 15px;
  line-height: 23px;
  color: #fff;
  border: none;
  background: none;
  font-weight: 700;
  cursor: pointer;
}
.btnCategoryNone {
  position: relative;
  font-size: 15px;
  line-height: 23px;
  color: #fff;
  border: none;
  background: none;
  font-weight: 400;
  opacity: 0.6;
  cursor: pointer;
}
.customSwiperWrap {
  position: flex;
}
.swiperContainer {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
}
.ProdBlurItem {
  display: flex;
  margin-left: 25px;
  vertical-align: top;
}
.prodBlurWrap {

}
.blurImgBox {
  overflow: hidden;
  position: relative;
  width: 311px;
  min-height: 243px;
  height: 243px;
  border-radius: 16px;

}