.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 0 120px 30px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.noDataWrap {
  text-align: center;
  margin: 180px 0;
  color: var(--color-gray-800);
}

.noDataWrap img {
  width: 46px;
  margin-bottom: 12px;
}

.noDataWrap p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.noticeBox {
  background: var(--color-gray-100);
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.noticeBox p {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 14px;
}

.noticeBox ul {
  padding-left: 16px;
  color: var(--color-gray-800);
  font-size: 13px;
  line-height: 2;
}
