.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 0 120px 30px;
}

.title {
  font-size: 26px;
  font-weight: 700;
  color: #000;
}

.emptyBox {
  text-align: center;
  padding: 60px 0;
  color: #777;
}

.emptyBox img {
  width: 80px;
  margin-bottom: 12px;
}

.noticeBox {
  background: #f7f7f7;
  padding: 24px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.noticeBox p {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 14px;
}

.noticeBox ul {
  padding-left: 16px;
  color: #595959;
  font-size: 13px;
  line-height: 2;
}
