.wrapper {
  width: 100%;
}

/* 주문 하나 박스 */
.orderBox {
  padding: 24px 0 20px 0;
  border-bottom: 1px solid #000;
}

/* 주문 헤더 */
.orderHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  font-size: 15px;
  padding: 0 10px 20px 10px;
  border-bottom: 1px solid var(--color-gray-300);
}

.orderHeader button {
  border: none;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orderHeader img {
  width: 13px;
  height: 15px;
  margin-right: 8px;
}

.orderDate {
  font-weight: 700;
  color: #000;
  font-size: 16px;
}

.itemRow {
  display: grid;
  grid-template-columns: 1fr 120px 120px 120px;
  align-items: center;
  padding: 14px 0;
}

.itemRow > div:nth-child(2),
.itemRow > div:nth-child(3),
.itemRow > div:nth-child(4) {
  text-align: center;
}

.itemInfo {
  display: flex;
  gap: 14px;
  align-items: center;
}

.itemImg {
  width: 82px;
  object-fit: cover;
  cursor: pointer;
}

.itemText {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.itemTitle {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  line-height: 1.4;
  word-break: keep-all;
  white-space: normal;
  margin: 0;
  line-height: 22px;
}

.itemTitle:hover {
  cursor: pointer;
  text-decoration: underline;
}

.itemQty {
  font-size: 13px;
  color: var(--color-gray-800);
  margin: 0;
}

.priceBox {
  font-size: 16px;
  color: #000;
}

.priceBox span {
  font-weight: 700;
}

.statusBox {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-blue-700);
}

.reviewBtn {
  width: 110px;
  height: 38px;
  padding: 6px 14px;
  background: #fff;
  color: var(--color-blue-800);
  border: 1px solid var(--color-blue-700);
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.reviewBtn:hover {
  background: #efeff7;
}
