.reviewWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 0 120px 30px;
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui,
    "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;
  color: #111;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0;
}

.subText {
  padding-bottom: 14px;
  text-align: right;
  font-size: 13px;
  color: #767676;
  border-bottom: 1px solid #000;
  margin-bottom: 0;
}

.reviewCard {
  padding: 20px 10px;
  border-bottom: 1px solid #ccc;
}

.bookInfo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 14px;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 10px 10px 10px;
}

.bookImage {
  width: 62px;
  border: 1px solid #eee;
  object-fit: cover;
}

.bookTextArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookTitle {
  font-size: 13px;
  font-weight: 500;
  color: #000;
  margin: 0;
}

.bookAuthors {
  font-size: 12px;
  color: #595959;
  margin-top: 5px;
}

.metaWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 10px;
}

.metaTop {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.reviewType {
  font-size: 14px;
  font-weight: 700;
  color: #5055b1;
  margin-right: 10px;
}

.metaBottom {
  margin-bottom: 14px;
  font-size: 13px;
  color: #888;
}

.metaBottom p {
  display: flex;
  align-items: center;
}

.divider {
  display: inline-block;
  font-size: 0;
  width: 1px;
  height: 9px;
  background-color: #d5d5d5;
  margin: 5px 6px 0 8px;
  vertical-align: top;
  box-sizing: border-box;
}

.metaBottom button {
  border: none;
  background: none;
  padding: 0;
  font-size: 13px;
  color: #666;
  cursor: pointer;
}

.metaBottom button:hover {
  text-decoration: underline;
}

.reviewContent {
  margin: 20px 0 30px 0;
  font-size: 15px;
  line-height: 1.7;
  color: #111;
  padding: 0 10px;
}

.noData {
  text-align: center;
  padding: 180px 0;
}

.noData img {
  width: 46px;
  height: 46px;
  opacity: 0.8;
}

.noData p {
  font-size: 15px;
  color: #444;
  margin-bottom: 10px;
}

.noData button {
  margin-top: 20px;
  padding: 12px 22px;
  background: #5055b1;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}

.noData button:hover {
  background-color: #2c307c;
  border-color: #2c307c;
}

.noDataInfo {
  font-size: 14px;
  font-weight: 600;
}
