.searchWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 80px;
}

/* 검색결과 제목 */
.resultTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  color: #000;
}

.resultTitle span {
  color: var(--color-green-800);
}

.searchContainer {
  display: flex;
  grid-template-columns: 170px 1fr;
  align-items: flex-start;
  gap: 50px;
  margin-top: 20px;
  grid-template-rows: auto 1fr auto;
}

.filterArea {
  width: 170px;
  background: #fff;
}

.filterBox {
  padding: 20px 0 10px 0;
  border-bottom: 1px solid var(--color-gray-300);
}

.filterArea > .filterBox:first-of-type {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.filterBox button {
  border: none;
  background-color: #fff;
  color: var(--color-gray-700);
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  gap: 10px;
  cursor: pointer;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.filterTitle {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.filterCategory {
  border-bottom: 1px solid var(--color-gray-400);
  padding-bottom: 8px;
}

.filterOptionGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  font-weight: 700;
}

.filterOptionBtn {
  width: 100%;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.filterSmallTitle {
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.subTitle {
  font-size: 13px;
  margin: 5px 0 10px 6px;
  font-weight: 500;
}

.subTitle:nth-of-type(2) {
  margin-top: 20px;
}

.filterCheckbox {
  display: flex;
  align-items: center;
  margin: 6px 0;
  color: #000;
  font-size: 13px;
  margin-left: 6px;
  gap: 10px;
  cursor: pointer;
}

.toggleContent {
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 2000px;
}

.closed {
  max-height: 0;
  padding: 0;
}

.rightArea {
  width: 100%;
}

.sortBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--color-gray-400);
  padding: 0 0 10px;
}

.sortLeft h3 {
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.sortLeft span {
  color: var(--color-green-800);
  font-weight: bolder;
}

.sortRightWrapper {
  display: flex;
  align-items: center;
}

.sortButtons {
  display: flex;
  align-items: center;
}

.heart {
  width: 38px;
  height: 38px;
  margin: 0 2px 0 0;
}

.heart img {
  width: 18px;
  height: 18px;
}

.cart {
  height: 38px;
  margin: 0 13px 0 2px;
  padding: 0 13px;
}

.cart img {
  width: 14px;
  height: 19px;
  margin: 0 3px 0 0;
}

.cart span {
  font-size: 13px;
}

.sortDropdowns {
  display: flex;
  align-items: center;
  gap: 3px;
}

.sortDropdowns :nth-of-type(2) {
  margin-right: 3px;
}

.sortIcons {
  display: flex;
  margin-left: 8px;
  width: 75px;
}

.sortIcons button {
  width: 42px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--color-gray-500);
  background: #fff;
  padding: 0;
}

.sortIcons .list {
  border-right: none;
  border-radius: 6px 0 0 6px;
}

.sortIcons .grid {
  border-radius: 0 6px 6px 0;
}

.list img {
  width: 14px;
  height: 14px;
  margin: 0 11px;
}

.grid img {
  width: 14px;
  height: 14px;
  margin: 0 11px;
}

.sortButtons button,
.sortIcons button {
  height: 38px;
  padding: 0 16px;
  border: 1px solid var(--color-gray-500);
  border-radius: 6px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart:hover,
.sortIcons button:hover {
  background: var(--color-gray-200);
  transition: all 0.25s ease;
}

.itemBox {
  display: flex;
  gap: 18px;
  padding: 28px 0;
  border-bottom: 1px solid var(--color-gray-200);
}

.checkboxWrap {
  position: relative;
  width: 22px;
  height: 22px;
  display: inline-block;
}

.itemInfo h4 {
  font-size: 15px;
  line-height: 23px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #000;
  cursor: pointer;
}

.itemInfo h4:hover {
  text-decoration: underline;
}

.itemInfo p {
  color: var(--color-gray-800);
  font-size: 13px;
  margin: 0 0 5px 0;
}

.info span {
  cursor: pointer;
}

.info span:hover {
  text-decoration: underline;
}

.priceRow {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 6px 0;
}

.itemInfoPrice {
  font-size: 14px;
  color: #000;
  line-height: 22px;
}

.itemInfoPrice span {
  font-weight: 700;
}

.listView .itemInfoPoint {
  position: relative;
  font-size: 12px;
  color: var(--color-gray-800);
  padding-left: 6px;
}

.listView .itemInfoPoint::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 1px;
  height: 7px;
  background-color: var(--color-gray-400);
}

.itemInfoPrice span {
  font-weight: 700;
}

.itemInfo span {
  color: #000;
}

.listView {
  display: block;
}

.itemBox img {
  width: 140px;
  object-fit: cover;
  flex-shrink: 0;
  border: 1px solid var(--color-gray-200);
  cursor: pointer;
}

.itemInfo {
  flex: 1;
}
.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
  min-width: 120px;
}

.buttonGroup button {
  width: 110px;
  height: 38px;
  padding: 12px 0;
  font-size: 13px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.heartBtn {
  width: 18px;
  height: 18px;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: right;
  align-items: center;
  transition: all 0.25s ease;
}

.heartBtn img {
  width: 18px;
  height: 18px;
  border: none;
}

.heartBtn.liked {
  border-color: #ff4b4b;
}

.itemInfoButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  min-width: 120px;
}

.cartBtn {
  background-color: var(--color-gray-700);
  color: #fff;
  border: 1px solid var(--color-gray-700);
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartBtn:hover {
  background-color: var(--color-gray-800);
  border-color: var(--color-gray-800);
}

.buyBtn {
  background-color: var(--color-blue-700);
  color: #fff;
  border: 1px solid var(--color-blue-700);
  transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buyBtn:hover {
  background-color: var(--color-blue-900);
  border-color: var(--color-blue-900);
}

.gridView {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px 20px;
  padding-top: 20px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.gridItem img {
  width: 168px;
  object-fit: cover;
  border: 1px solid var(--color-gray-300);
  background: #fff;
  margin: 10px 0;
  cursor: pointer;
}

.gridItem .itemInfo {
  width: 100%;
}

.gridItem h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 4px 0 6px;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.gridItem p {
  margin: 2px 0;
  color: var(--color-gray-800);
  font-size: 13px;
}

.gridHeart {
  margin-left: auto;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.gridHeart img {
  width: 18px;
  height: 18px;
  border: none;
}
.pagination {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  grid-column: 1 / -1;
}
