.contactContainer {
  width: 100%;
  max-width: 1180px;
  margin: auto;
  color: #000;
  font-size: 14px;
  line-height: 1.6;
}

.header {
  margin-bottom: 20px;
}
.header h1 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}
.header p {
  font-size: 14px;
  color: var(--color-gray-800);
  margin: 0;
}

.section {
  border-top: 1px solid #000;
}

.sectionTitle {
  background-color: var(--color-gray-100);
  font-weight: 400;
  padding: 16px 12px;
  font-size: 14px;
  margin: 0;
  text-align: center;
}

.subTable {
  width: 100%;
}

.subTable p {
  margin: 0;
  padding: 16px 12px;
  border-bottom: 1px solid var(--color-gray-400);
}

.subTable p:last-child {
  border-bottom: none;
}

.rowGroup {
  display: flex;
  border-bottom: 1px solid var(--color-gray-400);
}
.leftCell {
  width: 370px;
  padding: 16px 12px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.rightCell {
  flex: 1;
  padding: 16px 12px;
  border-left: 1px solid var(--color-gray-400);
}
.rightCell p {
  border-bottom: none;
  margin: 0;
  padding: 2px 0;
  font-size: 13px;
}

.storeGrid {
  width: 100%;
  display: grid;
  grid-template-columns: 220px 220px 1fr;
  grid-auto-rows: auto;
  border-bottom: 1px solid var(--color-gray-300);
  border-top-width: 0;
}

.cell {
  box-sizing: border-box;
  padding: 16px 12px;
  border-top: 1px solid var(--color-gray-300);
  border-left: 1px solid var(--color-gray-300);
  background: #fff;
  display: flex;
  align-items: center;
}

.storeGrid > .cell:nth-child(-n + 3) {
  border-top: none;
}

.noLeft {
  border-left: none;
}

.level1Span {
  grid-column: 1 / 2;
  grid-row: 1 / span 4;
  display: flex;
  align-items: flex-start;
  display: flex;
  align-items: center;
  border-left: none;
}

.level2 {
  font-weight: 500;
}

.level3 {
  font-weight: 400;
}

.col2 {
  grid-column: 2;
}

.col3 {
  grid-column: 3;
}

.storeList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.storeList li {
  margin: 0;
}

.subTable :global(a),
.subTable :global(a:hover),
.subTable :global(a:visited),
.subTable :global(a:link),
.subTable :global(a:active),
.noLeft :global(a),
.noLeft :global(a:hover),
.noLeft :global(a:visited),
.noLeft :global(a:link),
.noLeft :global(a:active) {
  text-decoration: underline;
}
