.faqContainer {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  font-family: "Pretendard", "Noto Sans KR", sans-serif;
  /* color: #111; */
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 0;
}

.item {
  border-top: 1px solid #eaeaea;
}

.item:first-of-type {
  border-top: 1px solid #000;
}

.item:last-of-type {
  border-bottom: 0.5px solid #eaeaea;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 24px 28px 24px 20px;
  cursor: pointer;
  gap: 28px;
}

.question p {
  margin: 0;
}

.q {
  display: inline-block;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: #474c98;
  color: #fff;
  font-size: 14px;
  margin-right: 28px;
  font-weight: 500;
  text-align: center;
  line-height: 24px;
}

.icon {
  font-size: 20px;
  color: #666;
}

.answerBox {
  max-height: 0;
  overflow: hidden;
  background-color: #f7f7f7;
  display: flex;
  transition: max-height 0.3s ease;
}

.answerBox.open {
  max-height: 600px; /* 내용에 따라 충분히 크게 설정 */
  padding: 20px 40px;
}

.arrow {
  margin-top: 5px;
  margin-right: 10px;
  color: #000;
}

.answer p {
  margin: 6px 0;
  font-size: 14px;
  line-height: 1.6;
}

/* 강조용 */
.answer span {
  font-weight: 800;
  color: #333;
}
