.sidebar {
  width: 200px;
  flex-shrink: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.sidebar h1 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 0;
}

.sidebar > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar > ul > li {
  position: relative;
  padding-bottom: 10px;
  padding: 16px 0;
}

.sidebar > ul > li:nth-child(1),
.sidebar > ul > li:nth-child(2) {
  border-bottom: 1px solid var(--color-gray-300);
}

.sidebar > ul > li:nth-child(1):hover,
.sidebar > ul > li:nth-child(2):hover,
.sidebar > ul > li:nth-child(4):hover {
  text-decoration: underline;
}

.sidebar > ul > li:last-child {
  border-top: 1px solid var(--color-gray-300);
}

/* 링크 */
.sidebar div {
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.sidebar div:hover {
  text-decoration: underline;
}

.sidebar ul ul {
  margin: 15px 0 0 0;
  padding: 0;
  border: none;
}

.sidebar ul ul li {
  margin-bottom: 8px;
}

.sidebar > ul > li:nth-child(1) > a,
.sidebar > ul > li:nth-child(2) > a,
.sidebar > ul > li:nth-child(3) > div,
.sidebar > ul > li:last-child > a {
  font-weight: 700;
  font-size: 16px;
}

.active span {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}
